<!DOCTYPE html>

<title>Proms</title>

<script defer src="https://stats.h5s.org/script.js" data-website-id="5d8e39be-801e-4f9e-b2da-87ad3dad00ba"></script>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="static/style.css">

<main>
{{range .}}
  <div class="day" id="{{.Date.Format "2006-01-02"}}"
      style="grid-column-start: {{.Date.Weekday | printf "%d"}}">
    <h2>
      {{.Date.Format "Mon 2"}}
      {{if eq .Date.Day 1}}{{.Date.Format "Jan"}}{{end}}
    </h2>
      {{range .Proms}}
        <div class="prom">
          <p style="float: right"><a href="{{.Id}}.ics">📅</a></p>
          <h3><a href="{{.Url}}">{{.Time}} - {{.Name}} ({{.Location}})</a></h3>
          <div class="details">
            <ul class="programme">
              {{range .Programme}}
                <li>
                  {{if .Interval}}
                    <span class="interval">⁂</span>
                  {{else}}
                    <span class="composer">{{.Composer}}</span>
                    <span class="name">{{.Name}}</span>
                    {{if .Duration}}
                      <span class="duration">({{.Duration}} mins)</span>
                    {{end}}
                  {{end}}
                </li>
              {{end}}
            </ul>
            <p class="performers">
              {{range $i, $p := .Performers}}
                {{if lt $i 4}}
                  {{if $i}}/{{end}}
                  {{$p.Name}}{{if $p.Role}} ({{$p.Role}}){{end}}
                {{end}}
              {{end}}
            </p>
          </div>
        </div>
      {{end}}
  </div>
{{end}}
</main>

<script>
  const today = document.getElementById(new Date().toISOString().split("T")[0]);
  today.classList.add("today");
  today.scrollIntoView();
</script>

