body {
  font-family: sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

@media (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1px;
    row-gap: 1px;
  }
}

div.day {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}

div.today {
  border: 2px solid cornflowerblue;
}

h2 {
  margin: 0;
  color: slateblue;
  font-weight: 300;
}

h3 {
  margin: 0.5em 0;
  font-size: 95%;
  font-weight: 400;
}

h3 a {
  color: darkslateblue;
}

.interval {
  display: block;
  text-align: center;
}

.details {
  margin: 0 0.5em;
}

.performers {
  font-size: 85%;
  font-style: italic;
}

.programme {
  font-size: 90%;
  list-style-type: none;
  padding: 0;
}

.programme li {
  margin-bottom: 1em;
}

.programme .composer {
  font-weight: bold;
}

.programme .duration {
  font-style: italic;
}

.add-links {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.gcal {
  color: #09a744;
  text-decoration: none;
  font-weight: bold;
}
